Repository yanli0303/node-build-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{html,css,json}": [
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ]
}

feat: add `zip`, `unzip`, and `fs`
  .gitignore
  .huskyrc
  .lintstagedrc
  .vscode/settings.json
  READMD.md
  README.md
  dist/index.d.ts
  dist/node-build-tools.cjs.development.js
  dist/node-build-tools.cjs.development.js.map
  dist/node-build-tools.cjs.production.min.js
  dist/node-build-tools.cjs.production.min.js.map
  dist/node-build-tools.esm.js
  dist/node-build-tools.esm.js.map
  dist/zip.d.ts
  package.json
  src/index.ts
  src/zip.test.ts
  src/zip.ts
  yarn.lock
Due: prettier --write, eslint --fix

v0.2.0
  package.json
Due: prettier --write

chore: exclude `dist` from git
  .gitignore
  dist/index.d.ts
  dist/index.js
  dist/node-build-tools.cjs.development.js
  dist/node-build-tools.cjs.development.js.map
  dist/node-build-tools.cjs.production.min.js
  dist/node-build-tools.cjs.production.min.js.map
  dist/node-build-tools.esm.js
  dist/node-build-tools.esm.js.map
  dist/shell.d.ts
  dist/zip.d.ts
Due: eslint --fix

chore: `tsdx` make use of `maxWorkers`
  README.md
  package.json
Due: prettier --write

doc: add GitHub action status badge to README
  README.md
Due: none

feat: add `download`
  package.json
  src/download.test.ts
  src/download.ts
  src/index.ts
  src/shell.test.ts
  src/shell.ts
  src/zip.test.ts
Due: prettier --write, eslint --fix

feat: download request options
  package.json
  src/download.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: download request follow redirects
  package.json
  src/download.ts
Due: prettier --write, eslint --fix

test: git workflow does not have internet
  src/download.test.ts
Due: eslint --fix

feat: add `getPackageInfo`
  src/download.test.ts
  src/getPackageInfo.test.ts
  src/getPackageInfo.ts
  src/index.ts
Due: eslint --fix

bump version
  package.json
Due: prettier --write

feat: add `--registry` to `getPackageInfo`
  package.json
  src/getPackageInfo.ts
Due: prettier --write, eslint --fix

fix: getPackageInfo use process.cwd instead of __dirname
  package.json
  src/getPackageInfo.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: getPackageInfo use process.cwd instead of __dirname
  package.json
  src/getPackageInfo.ts
Due: prettier --write, eslint --fix

chore: apply new code styles
  .prettierrc
  .prettierrc.js
  package.json
  src/download.ts
  src/getPackageInfo.ts
  src/zip.test.ts
Due: prettier --write, eslint --fix

feat(shell): add additional options
  src/shell.ts
Due: eslint --fix

chore: yarn upgrade
  package.json
  yarn.lock
Due: prettier --write

feat(download): return file MIME type and size
  src/download.test.ts
  src/download.ts
Due: eslint --fix

feat(shell): return stdout of commands
  src/shell.test.ts
  src/shell.ts
Due: eslint --fix

refactor(getPackageInfo): do not write to temp file
  src/download.test.ts
  src/getPackageInfo.ts
Due: eslint --fix

v0.3.0
  package.json
Due: prettier --write

feat(getPackageInfo): silent output
  package.json
  src/getPackageInfo.ts
Due: prettier --write, eslint --fix

gc
  src/getPackageInfo.ts
Due: eslint --fix

v0.3.2
  package.json
Due: prettier --write
